---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/PostsList.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned);
---

<BaseLayout title="All posts">
  <h1 class="text-black dark:text-white pb-10 text-4xl">All Posts</h1>
  <PostsList posts={posts} />
</BaseLayout>
