@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous.eot");
  src: url("/fonts/Righteous.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Righteous.woff2") format("woff2"), url("/fonts/Righteous.woff") format("woff"),
    url("/fonts/Righteous.ttf") format("truetype"),
    url("/fonts/Righteous.svg#Righteous") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

div[data-rehype-pretty-code-fragment] {
  @apply space-y-0;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply p-0 py-2 rounded-t-none rounded-lg overflow-x-auto bg-slate-950;
}

div[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  @apply flex flex-col;
}

div[data-rehype-pretty-code-fragment] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply pr-4;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-transparent px-3;
}

div[data-rehype-pretty-code-fragment] .highlighted {
  @apply border-blue-400 bg-blue-400/20;
}
