---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/PostsList.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;

const posts = (await getCollection("blog"))
  .filter((post) => post.data.tags.includes(tag))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <h1 class="uppercase text-5xl">{tag}</h1>
  <PostsList posts={posts} />
</BaseLayout>
