---
import MdiTwitter from "~icons/mdi/twitter";
import MdiGithub from "~icons/mdi/github";
import MdiRss from "~icons/mdi/rss";

import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-3xl text-slate-700 dark:text-white font-black">
        Hello there! <span
          class="text-transparent bg-clip-text bg-gradient-to-tr from-pink-400 via-purple-400 to-indigo-400"
          >I'm Abdullah</span
        >
      </h1>
      <p>
        Welcome to my blog! I'm a software engineer with experience in <span class="text-yellow-400"
          >Python</span
        >, <span class="text-red-400">OCaml</span>, <span class="text-fuchsia-400"
          >JavaScript/Typescript</span
        >, <span class="text-sky-400">ReactJS</span>, and <span class="text-emerald-400"
          >Node.js</span
        >. As an enthusiastic learner, I aim to share my journey of exploration with you. Join me as
        I write about various aspects of computer science, ranging from programming languages, AI,
        web development, to theoretical computer science.
      </p>
      <div class="space-x-1">
        <a
          href="https://twitter.com/algorizr"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiTwitter />
          <span>Twitter</span>
        </a>
        <a
          href="https://github.com/algorizr"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiGithub />
          <span>GitHub</span>
        </a>
        <a
          href="/rss.xml"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <MdiRss />
          <span>RSS</span>
        </a>
      </div>
    </div>
    <PostsList posts={posts} />
  </div>
</BaseLayout>
