---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout>
  <h1 class="text-3xl font-black py-5">
    Hi, <span class="text-accent">I'm Abdullah Elsayed!</span>
  </h1>
  <p>
    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template
    serves as a lightweight, minimally-styled starting point for anyone looking to build a personal website,
    blog, or portfolio with Astro.
  </p>
  <section class="max-w-screen-md">
    <h2 class="text-2xl text-secondary font-semibold pt-4 pb-2">Latest Posts</h2>
    <ul class="flex flex-col max-w-screen-md">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/blog/${post.slug}`}
              class="flex justify-between rounded-md py-2 px-4 text-md hover:bg-slate-800"
            >
              <span>{post.data.title}</span>
              <FormattedDate date={post.data.pubDate} />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
