---
const today = new Date();
---

<footer class="footer footer-center p-4 text-base-content">
  <div>
    <p>&copy; {today.getFullYear()} Abdullah Elsayed. All rights reserved.</p>
  </div>
</footer>
