---
import { Icon } from "astro-icon";
const today = new Date();
---

<footer class="flex content-center justify-between py-4">
  <div class="flex content-center space-x-5">
    <a href="https://twitter.com/algorizr" target="_blank">
      <Icon name="mdi:twitter" size="24px" />
      <span class="sr-only">Twitter</span>
    </a>
    <a href="https://github.com/algorizr" target="_blank">
      <Icon name="mdi:github" size="24px" />
      <span class="sr-only">Github</span>
    </a>
  </div>
  <p>&copy; {today.getFullYear()} Abdullah Elsayed</p>
</footer>
