---
import { Icon } from "astro-icon";
const today = new Date();
---

<footer class="flex items-center text-slate-300 justify-between py-10">
  <p class="text-sm">&copy; {today.getFullYear()} Abdullah Elsayed</p>
  <div class="flex items-center space-x-2">
    <a href="https://twitter.com/algorizr" target="_blank">
      <Icon name="mdi:twitter" size="24px" class="rounded-md p-1 hover:bg-slate-800" />
      <span class="sr-only">Twitter</span>
    </a>
    <a href="https://github.com/algorizr" target="_blank">
      <Icon name="mdi:github" size="24px" class="rounded-md p-1 hover:bg-slate-800" />
      <span class="sr-only">Github</span>
    </a>
    <a href="/rss.xml" target="_blank">
      <Icon name="mdi:rss" size="24px" class="rounded-md p-1 hover:bg-slate-800" />
      <span class="sr-only">RSS</span>
    </a>
    <a href="/sitemap-index.xml" target="_blank">
      <Icon name="mdi:sitemap" size="24px" class="rounded-md p-1 hover:bg-slate-800" />
      <span class="sr-only">RSS</span>
    </a>
  </div>
</footer>
