---
import { SITE_NAME } from "../consts";
import ToggleTheme from "./ToggleTheme";
---

<div class="flex justify-between items-center pt-10">
  <a
    class="text-4xl text-transparent font-black bg-clip-text py-1 bg-gradient-to-tr from-pink-400 via-purple-400 to-indigo-400 font-righteous"
    href="/">{SITE_NAME}</a
  >
  <ToggleTheme client:idle />
</div>
