---
import HeaderLink from "./HeaderLink.astro";
import { SITE_NAME } from "../consts";
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">{SITE_NAME}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>
