---
import { SITE_NAME } from "../consts";
import ToggleTheme from "./ToggleTheme";
---

<div
  class="container mx-auto md:max-w-4xl px-4 fixed top-0 left-0 right-0 z-50 py-4 flex justify-between items-center bg-slate-100 dark:bg-slate-900"
>
  <a class="text-4xl text-fuchsia-400 font-righteous font-black" href="/">{SITE_NAME}</a>
  <ToggleTheme client:idle />
</div>
