---
import "@fontsource/righteous";
import { SITE_NAME } from "../consts";
---

<div class="flex justify-between items-center py-10">
  <a
    class="text-4xl text-transparent bg-clip-text bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 font-['Righteous'] font-black"
    href="/">{SITE_NAME}</a
  >
  <a href="/blog" class="py-2 px-3 rounded-md hover:bg-slate-800">Blog</a>
</div>
