---
import { SITE_NAME } from "../consts";
---

<div class="flex justify-between items-center py-10">
  <a
    class="text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-pink-400 via-purple-400 to-indigo-400 font-righteous font-black"
    href="/">{SITE_NAME}</a
  >
  <div class="space-x-0 text-slate-300 hidden sm:flex">
    <a
      href="https://twitter.com/algorizr"
      target="_blank"
      class="py-2 px-3 rounded-md hover:bg-slate-800">Twitter</a
    >
    <a
      href="https://github.com/algorizr"
      target="_blank"
      class="py-2 px-3 rounded-md hover:bg-slate-800">GitHub</a
    >
    <a href="/rss.xml" target="_blank" class="py-2 px-3 rounded-md hover:bg-slate-800">RSS</a>
  </div>
</div>
