---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="py-10">
  <ul class="flex flex-col space-y-4">
    {
      posts.map((post) => (
        <li>
          <a
            class="space-y-4 flex flex-col text-slate-200 items-start rounded-lg p-6 bg-slate-800 hover:bg-slate-700"
            href={`/blog/${post.slug}`}
          >
            <div class="flex flex-col items-start space-y-1">
              <span class="text-lg text-white font-bold">{post.data.title}</span>
              <span class="text-sm uppercase">
                <FormattedDate date={post.data.pubDate} />
              </span>
            </div>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
