---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  heading: string;
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="py-10">
  <ul class="flex flex-col space-y-4">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/blog/${post.slug}`}
            class="flex flex-col items-start space-y-4 rounded-lg p-6 bg-slate-500/30 hover:bg-slate-500/50"
          >
            <div class="flex flex-col items-start space-y-1">
              <span class="text-lg font-medium">{post.data.title}</span>
              <span class="text-sm font-thin">
                <FormattedDate date={post.data.pubDate} />
              </span>
            </div>
            <p class=" text-base font-thin">{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
