---
type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

export interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li class="ml-4">
  <a class="hover:text-slate-400 dark:hover:text-white" href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="list-disc list-outside">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
